body {
    font-family: "Calibri";
}

.windowParent {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 3px dashed black;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAPUlEQVQYV2NkYGD4D8SMQIwXwBQQVIxsEl7F6FbiVIzNbVgV4/IEhmJ8vkVRTChY4IoJKQSFLVgxMQrBigH9rQoKN4o0UQAAAABJRU5ErkJggg==) repeat;
    background-color: white;
    height: fit-content;
}
.windowParent:hover {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAOUlEQVQYV43MQQ4AIAgDQfv/R4OYaFChsOfJYvQSNJxMgwouZDMGD2LwQhn8UARD9MIUeUjRhiUyqPw8Cgq7TDlmAAAAAElFTkSuQmCC) repeat;
    background-color: white;
}

.windowContent {
    background-color: white;
    height: 90%;
    width: 92%;
    border: 1px solid black;
    padding: .7em;
    margin: 1em;
    overflow-y: auto;
    margin-top: 0;
}

.dottedBackground {
  background-image: radial-gradient(circle at center, #000 1px, transparent 0);
  background-size: 20px 20px; /* Controls the spacing between dots */
  background-repeat: repeat;
}

.windowTitle{
    font-weight: normal;
    border-left: 3px dashed black;
    border-right: 3px dashed black;
    width: fit-content;
    text-align: center;
    height: fit-content;
    background-color: white;
    margin: -.5em 1em 1em 1em;
    padding: 0 .7em;
}

.windowTitle:is(.right){
    align-self: flex-end;
}

.windowTitle:is(.left){
    align-self: flex-start;
}

.windowBlogLead{
    color: rgb(85, 85, 85);
    font-style: italic;
    font-weight: 500;
}